@font-face {
  font-family: "Outfit";
  src: local("Outfit"),
    url("/assets/fonts/outfit/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit"),
    url("/assets/fonts/outfit/Outfit-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit"),
    url("/assets/fonts/outfit/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Young Serif";
  src: local("young-serif"), local("Young_Serif"), local("Young Serif"),
    url("/assets/fonts/young-serif/YoungSerif-Regular.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: hsl(0, 0%, 100%);
}

header {
  display: flex;
  flex-direction: column;
}

#recipe-image {
  display: block;
  max-width: 100%;
}

.recipe-title {
  margin: 4rem 0 0.7rem;
  align-self: self-start;
  color: hsl(24, 5%, 18%);
  font-size: 3.5rem;
  line-height: 1;
}

.recipe-title,
.article-header {
  font-family: "Young Serif", Georgia, "Times New Roman", Times, serif;
}

.recipe-title,
main,
footer {
  margin-inline: 3.2rem;
}

section,
article {
  margin-block: 2.3rem;
}

.section-header {
  margin-bottom: 1rem;
  color: hsl(332, 51%, 32%);
  font-size: 2rem;
}

.preparation-time {
  margin-top: 3.2rem;
  padding: 0.5rem 3rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
}

.highlight-text {
  color: inherit;
  font-weight: 700;
  background-color: hsla(0, 0%, 0%, 0);
}

ul,
ol {
  margin-top: 0;
  padding-left: 2.2rem;
  list-style-type: none;
}

li {
  padding-bottom: 0.8rem;
}

ul li {
  padding-left: 1.8rem;
  position: relative;
}

ul li::before {
  content: "\2022";
  position: absolute;
  left: -15px;
  top: 45%;
  transform: translateY(-50%);
  color: hsl(332, 51%, 32%);
  font-size: 22px;
}

#ingredients li::before {
  color: hsl(14, 45%, 36%);
}

#ingredients li:last-child::before {
  content: "\25AA";
  font-size: 16px;
}

ol {
  margin-left: 1.8rem;
}

ol li {
  counter-increment: my-counter;
  position: relative;
}

ol li::before {
  content: counter(my-counter) ".";
  margin-right: 1.5rem;
  position: absolute;
  left: -3.2rem;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.article-header {
  margin: 2.5rem 0 1.5rem;
  font-size: 2.8rem;
}

.article-header,
td:nth-child(2) {
  color: hsl(14, 45%, 36%);
}

article:not(:first-of-type) {
  border-top: 1px solid hsl(30, 18%, 87%);
}

caption {
  margin-bottom: 1.5rem;
  text-align: start;
}

table,
tr,
td {
  padding: 1.2rem 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr:not(:first-child) {
  border-top: 1px solid hsl(30, 18%, 87%);
}

td:first-child {
  width: 40%;
  text-indent: 3rem;
}

td:nth-child(2) {
  text-indent: 4rem;
  font-weight: 700;
}

.attribution,
.attribution a {
  margin: 6rem 0 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(14, 45%, 36%);
  text-decoration: none;
}

@media screen and (min-width: 760px) {
  body {
    margin-block: 3.2rem;
  }

  .recipe-title,
  main,
  footer {
    margin-inline: 0;
  }

  #recipe-image {
    border-radius: 12px;
  }

  .recipe-title {
    font-size: 4rem;
  }

  #ingredients li::before,
  #ingredients li:last-child::before {
    content: "\25AA";
    font-size: 16px;
  }

  td:first-child {
    text-indent: 3.3rem;
  }

  td:nth-child(2) {
    text-indent: 7.5rem;
    font-weight: 700;
  }

  .attribution,
  .attribution a {
    margin-top: 8rem;
  }

  .wrapper {
    max-width: 655px;
    margin-inline: auto;
  }
}
